<div class="main-content">
    <div class='container'>
        <form>
            <div class="row">
                <!--div class="col-md-8 pwd-input">
                <mat-form-field appearance="outline">
                    <mat-label>Current password</mat-label>
                    <input matInput placeholder="password"  required>
                </mat-form-field>
                </div-->
                <div class="col-md-8 pwd-input">
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput placeholder="password"  required>
                </mat-form-field>
                </div><div class="col-md-8 pwd-input">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="password"  required>
                </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button  color="primary" class="btn-profile">SAVE</button>
            </div>
        </form>
    </div>
</div>