<div class="main-content">
    <div class='container-fluid'>
        <form [formGroup]="resetPasswordForm" style="padding-top: 10px;" (ngSubmit)="submit()">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
                <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.controls.password.hasError('pattern')"><br/>
                    Password should contain atleast one <strong>lowercase</strong> character,one <strong>uppercase character</strong> ,one <strong>special character</strong> .Must
                    contain minimum <strong>8 characters</strong>.
                </mat-error>
            </mat-form-field> 
            <br/>
            <mat-form-field appearance="outline">
                <mat-label>Re-Enter Password</mat-label>
                <input matInput placeholder="Re Enter Password" type="password" formControlName="rePassword" required>
                <mat-error *ngIf="resetPasswordForm.controls.rePassword.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.controls.password.hasError('notequal')"><br/>
                    Password does <strong>not match</strong>
                </mat-error>
            </mat-form-field> 

    
            <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid"> Reset </button>

        </form>


        <!--form>
            <div class="row">
                <div class="col-md-8 pwd-input">
                <mat-form-field appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput placeholder="password"  required>
                </mat-form-field>
                </div><div class="col-md-8 pwd-input">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="password"  required>
                </mat-form-field>
                </div>
            </div>
            <div>
                <button mat-raised-button  color="primary" class="btn-profile">SAVE</button>
            </div>
        </form-->
    </div>
</div>