/* .profile{
    margin: 20px 10px;
}
.user-info{
    max-width: 400px;
    height: 600px;

} */
.info-content{
    margin: auto;
    padding: 10px;
}
.edit-info mat-card{
    height: 600px;
}
mat-card-image{
    margin: 10px;
    padding: 10px;
}
mat-icon{
    margin: 0 10px;
}
mat-card-content p{
    color: rgb(28, 38, 94);
}

