<div class='main-content'>

    <div class='container-fluid'>

        <mat-card>

            <mat-card-header>
                <mat-card-title> Add New Relationship </mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <form [formGroup]="relationshipForm" (ngSubmit)="submit()" style="padding-top: 10px;">

                <mat-card-content>

                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" required formControlName="first_name">
                        <mat-error *ngIf="relationshipForm.controls.first_name.hasError('required')">
                            First Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Second Name" required formControlName="last_name">
                        <mat-error *ngIf="relationshipForm.controls.last_name.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>NIC</mat-label>
                        <input matInput placeholder="NIC" required formControlName="nic">
                        <mat-error *ngIf="relationshipForm.controls.nic.hasError('required')">
                            NIC is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="relationshipForm.controls.nic.hasError('maxlength')">
                            NIC should not contain more than <strong> 12 characters. </strong>
                        </mat-error>
                        <mat-error *ngIf="relationshipForm.controls.nic.hasError('minlength')">
                            NIC should not be less than <strong> 10 characters. </strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Relationship</mat-label>
                        <input matInput placeholder="Relationship" required formControlName="relationship">
                        <mat-error *ngIf="relationshipForm.controls.relationship.hasError('required')">
                            Relationship is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender" required>
                            <mat-option value="male"> Male </mat-option>
                            <mat-option value="female"> Female </mat-option>
                        </mat-select>
                        <mat-error *ngIf="relationshipForm.controls.gender.hasError('required')">
                            Gender is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [max]="maxDate" [matDatepicker]="dobDatePicker" required formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dobDatePicker></mat-datepicker>
                        <mat-error *ngIf="relationshipForm.controls.dob.hasError('required')">
                          Date Of Bith <strong>is required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Contact</mat-label>
                        <input matInput placeholder="Contact Number" required formControlName="contact_number">
                        <mat-error *ngIf="relationshipForm.controls.contact_number.hasError('required')">
                            Contact is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="relationshipForm.controls.contact_number.hasError('pattern')">
                            Enter a <strong>valid contact</strong>
                        </mat-error>
                        <mat-error *ngIf="relationshipForm.controls.contact_number.hasError('minlength')">
                            Contact number should contain <strong>10 digits</strong>
                        </mat-error>
                        <mat-error *ngIf="relationshipForm.controls.contact_number.hasError('maxlength')">
                            Contact number should contain <strong>10 digits</strong>
                        </mat-error>
                    </mat-form-field>
    
                </mat-card-content>

                <mat-card-actions align="center" style="padding-top: 20px;">
                    <button mat-raised-button color="primary" [disabled]="!relationshipForm.valid">Submit</button>
                </mat-card-actions>

            </form>

        </mat-card>

    </div>
</div>
