<div class="main-content">

    <div class="container-fluid">

        <mat-card>

            <mat-card-header>
              <mat-card-title> Reset Password </mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>

                <mat-form-field style="padding-top: 30px;" appearance="outline">
                    <mat-label> Email </mat-label>
                    <input matInput placeholder="Enter Your Email here" [formControl]="email" required>
                    <mat-error *ngIf="email.hasError('required')"> Email is required </mat-error>
                    <mat-error *ngIf="email.hasError('email')"> Email should be valid </mat-error>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions style="padding-bottom: 20px;">
              <button mat-raised-button class="col-md-12" color="accent" (click)="sendResetURL()">
                <i class="material-icons" *ngIf="isError === 'false'"> 
                    check_circle
                </i>
                <i class="material-icons" *ngIf="isError === 'true'">
                    highlight_off 
                </i>
                Send Reset Link 
            </button>
            </mat-card-actions>

          </mat-card>

    </div>

</div>
