<!--Contact page of e-Pharma-->
<div class="main-content">
    <div class="container-fluid">
        <div class="parallax1">
            <h3 class="heading"><strong >Contact Us</strong></h3>
        </div>
    
        <div class="container cont">
            <br/><br/><br/>
            <div class="row" >
                <div class="col-md-7 iframe">
                    <iframe title="map" width="100%" height="350" frameBorder="0" scrolling="no" marginHeight="0" marginWidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1987.6924704747278!2d79.94866297520304!3d6.867467222179532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae250ee317f72df%3A0x5d3e64fc4f0a3f0b!2sKalalgoda+Rd%2C+10230!5e0!3m2!1sen!2slk!4v1561884360789!5m2!1sen!2slk"></iframe>
                </div>
                <div class="col-md-4 addr">
                    <h2 [style.color]="'cornflowerblue'">e-Pharma</h2>
                    <address>
                        30/4<br/>
                        Park Road<br/>
                        Colombo 5<br/>
                        <abbr title="Phone">TP:</abbr> xxxxxxxxxx
                    </address>
                    <div>
                        <h2 [style.color]="'cornflowerblue'">We are open</h2>
                        <b>Mon-Sat </b>  <p> 8:00am – 8:00pm</p>
                        <b>Sun </b>     <p> 9:00am – 5:00pm</p>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/>
    
        <div class="parallax2">
            <div class='heading-sm'>Have any doubts? Leave us a message</div>
        </div>
        <div class="container contactus">
            <div class="row">
                <br/><br/>
                <div class="col-md-3 contact-col  ">
                    <div class="contact-infos">
                        <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="Mail"/>
                        <h2>Get In Touch</h2>
                        <h4>We would love to hear from you !</h4>
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class="contact-forms">
                        <form >
                            <div class="form-group">
                                <label class="control-label col-sm-2" htmlFor="name">Name:</label>
                                <div class="col-sm-10">          
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" htmlFor="email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" htmlFor="comment">Message:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" id="message" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">        
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax2"></div>
    </div>
</div>