<div class=" parallax1">
    <h1 class='heading'> e-PHARMA </h1>
</div>

 <div class ="section-1 content container " >
    <div class="  row" >
        <div class="sec-1-img ">
        </div>
        <div class="sec-1-content text ">
        <h1  class="col-heading" [style.textAlign]="'center'">Get delivered medicine to your doorstep</h1>
        <h5> Are you fed up with the visits to pharmacies searching for your medicines.Try something NEW.Just with one touch get delivered your medicines to your doorstep.
        Life has became much easier nowadays.Be a regular customer and get more benefits.  Join Now!  </h5>
        </div>
    </div>    
    </div>
<div>
<div class="parallax2">
    <div class ="section-2 container text">
    <strong><h1 class="heading-sm">Now we are delivering in Colombo</h1></strong>
    </div>
</div>
<div class=" container sec-2-content content ">
    <h3>Are you living arround colombo? This is the best option for your busy life. No more walking to pharmacies.Join now to get the best service from e-Pharma.</h3>
</div>

<div class="  parallax3">
    <div class=" container  "> 
    <h1 class="  heading-sm ">WE PROVIDE YOU WITH...</h1>
    </div>
</div>

<div class ="section-3 container ">
    <div class="row  content">
    <div class="col ">
        <h2 class ="col-heading">Order online </h2>
        <img src="assets/img/user/img6.jpg" class="image" alt="..."> 
        <p> Just take a photo of your prescription and upload now!!!</p>
     <!--  <button> Order Now</button> -->  
    </div>
    <div class="col ">
        <h2 class ="col-heading">Track the delivery </h2>
         <p>Worry less.Track the ongoing delivery now.Your medicines will safely come to your hands. </p>
        <img src="assets/img/user/img8.jpg" class="image" alt="..."> 
       

    </div>
    <div class="col ">
        <h2 class ="col-heading">Subscriptions</h2>
        <img src="assets/img/user/img7.jpg" class="image" alt="..."> 
        <p>Do you buy medicines per month.Join and make subscriptions to have more offres.</p>

    </div>
    </div>
</div>
<div class="parallax4">
<div class ="section-4 container">
    <h1 class="  heading-sm" [style.color]="'black'">We value our customers health,time and money.No additional charges on you.We provide you with the best as always.</h1>
</div>
</div>