<div class="main-content">

    <div class="container-fluid">

        <mat-card>

            <mat-card-header>

                <mat-card-title>Log In</mat-card-title>

            </mat-card-header>

            <mat-divider></mat-divider>

            <form [formGroup]="loginForm" (ngSubmit)="submit()" style="padding-top: 20px;">

                <h5 style="color: red;" *ngIf="hasError !== null"> <b> {{ hasError }} </b> </h5>

                <mat-card-content>

                    <div class="row">

                        <mat-form-field class="col-md-12" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Email" required formControlName="email" autofocus>
                            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.email.hasError('email')">
                                Enter valid <strong>email</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">

                        <mat-form-field class="col-md-12" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" required type="password" formControlName="password" id="password">
                            <mat-icon matSuffix *ngIf="!isVisible"> <a href="javascript:void(0)" (click)="visibility('on')" style="text-decoration: none"> <i class="material-icons" style="margin-top: -20px;color: black"> visibility </i> </a> </mat-icon>
                            <mat-icon matSuffix *ngIf="isVisible"> <a href="javascript:void(0)" (click)="visibility('off')" style="text-decoration: none;"> <i class="material-icons" style="margin-top: -20px;color: black"> visibility_off </i> </a> </mat-icon>
                            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="primary" class="col-md-12" [disabled]="!loginForm.valid">LogIn</button>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12" align="center">
                            <a href="/password-reset"> Forgot Password ? </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" align="center">
                            <a href="/signup"> Not a member ? SignUp from here </a>    
                        </div>
                    </div>

                </mat-card-actions>

            </form>

        </mat-card>

        <p align="center"> <a href="/home"> Back to Home </a> </p>

    </div>

</div>
