<div class="main-content">

    <div class="container-fluid">

        <mat-card>

            <mat-card-header>

                <mat-card-title>LogIn</mat-card-title>

            </mat-card-header>

            <mat-divider></mat-divider>

            <form [formGroup]="loginForm" (ngSubmit)="submit()" style="padding-top: 20px;">

                <mat-card-content>

                    <div class="row">

                        <mat-form-field class="col-md-12">
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Email" required formControlName="email">
                            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.email.hasError('email')">
                                Enter valid <strong>email</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="row">

                        <mat-form-field class="col-md-12">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" required type="password" formControlName="password">
                            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                    </div>

                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button color="primary" class="col-md-12" [disabled]="!loginForm.valid">LogIn</button>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12" align="center">
                            <a href="/password-reset"> Forgot Password ? </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" align="center">
                            <a href="/signup"> Not a member ? SignUp from here </a>    
                        </div>
                    </div>

                </mat-card-actions>

            </form>

        </mat-card>

    </div>

</div>
