.container-fluid {
    max-width: 30rem;
    padding-top: 150px;
}
/* .main-content{
    background-color: lightblue;
    // background-image: url('../../../assets/img/user/img5.jpg'); 
    opacity: 0.7;
    height: 100%;
} */