<div class="main-content">

    <div class="container-fluid">

        <mat-card>

            <mat-card-header>
              <mat-card-title> Reset Password </mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <form [formGroup]="resetPasswordForm">

                <mat-card-content>

                    <mat-form-field>

                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                        <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.controls.password.hasError('pattern')">
                            Password should contain atleast one <strong>lowercase</strong> character,one <strong>uppercase character</strong> ,one <strong>special character</strong> .Must
                            contain minimum <strong>8 characters</strong>.
                        </mat-error>

                    </mat-form-field> 

                    <mat-form-field>

                        <mat-label>Re-Enter Password</mat-label>
                        <input matInput placeholder="Re Enter Password" type="password" formControlName="rePassword">
                        <mat-error *ngIf="signupForm.controls.rePassword.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls.password.hasError('notequal')">
                            Password does <strong>not match</strong>
                        </mat-error>
                        
                    </mat-form-field> 

                </mat-card-content>
    
                <mat-card-actions>
                  <button mat-raised-button color="primary"> Reset </button>
                </mat-card-actions>

            </form>

          </mat-card>

          
    </div>

</div>