<div class='main-content'>
    <div class='container '>
        <mat-card>
            <h2 class='jumbotron'>My Profile</h2>
        </mat-card>
        <div class='row'>
            <div class='profile viewDate col-md-5'>
                <mat-card>
                    <img src='../../../assets/img/faces/marc.jpg' rounded>
                <div class='userInfo'>
                    <p>firstName lastName</p>
                    <p>email</p>
                    <p>NIC</p>
                    <p>contact no.</p>
                    </div>
                </mat-card>
        </div>
        <div class='profile edit col-md-7'>
                <mat-card>
                    <mat-tab-group>
                        <mat-tab label="Edit Profile "> Edit Profile </mat-tab>
                        <mat-tab label="Change Password"> Change Password </mat-tab>
                        <mat-tab label="Change Email"> Change Email</mat-tab>
                    </mat-tab-group>
                </mat-card>
        </div>
       </div>
    </div>
</div>
