<div class='main-content'>
    <div class='container'>
        <mat-card>
            <h2 class='jumbotron'>My Profile</h2>
        </mat-card>
        <div>
        
        <mat-card>
            <mat-list role="list">
                <mat-list-item role="listitem">firstName lastName</mat-list-item>
                <mat-list-item role="listitem">email</mat-list-item>
                <mat-list-item role="listitem">NIC</mat-list-item>
                <mat-list-item role="listitem">contact no.</mat-list-item>

            </mat-list>       
        </mat-card>
       </div>
    </div>
</div>
