<div class="main-content" >
    <div class="container-fluid">
        <div class="parallax1">
            <div class ="about ">
            <h1 class="heading">Who we are</h1>
            </div>
        </div>
    
        <div class="about-content container">
            <h3 style="textAlign:center"><strong>e-Pharma</strong> is the pharmacy of the future which allows online purchase of prescription medication with door-step delivery.</h3>

            
        </div>
    
        <div class="parallax2">
            <h1 class="heading-sm">Why choose us</h1>
        </div>
     
        <div class="about-content container">
            <h4 class= '' style="textAlign:center"><strong>e-Pharma</strong> is a registered and licensed pharmacy which is compliant with NMRA (National Medicines Regulatory Authority) standards
             for delivery of medication. We only use high-quality medicines from the best brands.
             Your order is packed by qualified pharmacists and delivered in a cold-storage vehicle. </h4>

        </div>
        <div class="parallax3"></div>
    </div>
</div>
