body,html{
    height: 100%;
    margin: 0;
    /* font-family: ; */
    text-align: center;
}
.parallax1{
    background: url(../../../assets/img/user/bg5.jpg);
    height: 40%;
}

.parallax2,.parallax3{
    background: url(../../../assets/img/user/bg5.jpg);
    height: 20%;
}

.parallax1,.parallax2, .parallax3{
    position: relative;
    opacity: 60%;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading{
    position: absolute;
    text-align: center;
    font-weight: 500;
    padding-right: 50px;
    color: rgb(0, 0, 0);
    font-size: 550%;
    top: 38%;
    width: 100%;
    letter-spacing: 8px;
    text-shadow: 0 0 10px rgb(95, 93, 93);
    
}

.heading-sm{
    position: absolute;
    top: 45%;
    right: 0%;
    left: 0%;
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 250%;
    text-align: center;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgb(95, 93, 93);

}
.about-content{
    overflow: auto;
    padding: 50px 0;
    /* color:#f2f2f2;
    background-color: #323232; */
}


p{
    font-weight: 300;
    text-align: justify ;
    width:80%;
    padding: 10px;
}

@media (max-width:768px){
    .heading{
        font-size: 250%;
        font-weight: 650;
    }
    .heading-sm{
        font-size: 180%;
    }

    .text{
        font-size: 180%;
     }
     .about-content,p{
         text-align: center;
     }
}

