<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/home">
                        E-Pharma
                    </a>
                </li>
                <li>
                    <a href="/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.creative-tim.com" target="_blank">E-Pharma</a> for a better web.
        </div>
    </div>
</footer>
