*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
mat-sidenav-content{
    position: fixed;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}


.sidebar h3{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a {
    display: block;
    /* height: 100%; */
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255 , 255, .1);
    border-bottom: 1px solid black;
    transition:.4s;

}
ul li:hover a{
    padding-left: 50px;
}