 <div class="main-content">

    <div class="container-fluid">

        <mat-card>

            <mat-card-header>
                <mat-card-title> Prescription </mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>

            <form [formGroup]="prescriptionForm" style="padding-top: 10px;">

                <mat-card-content>

                    <mat-form-field>

                        <mat-label>Select Relation</mat-label>
                        <mat-select formControlName="relations" required>
                          <mat-option *ngFor="let relation of userData.relations" [value]="relation">{{relation.relationship}} - {{ relation.first_name + " " + relation.last_name }}</mat-option>
                          <mat-option value="none">None - Me </mat-option>
                        </mat-select>
                        <mat-hint> You can add a new relationship from <a href="/family"> Add New Relationship</a> page. </mat-hint>
                        <mat-error *ngIf="prescriptionForm.controls.relations.hasError('required')">
                            Relation is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <div class="row">

                        <div class="col-md-6">

                            <mat-form-field>
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" required formControlName="first_name">
                                <mat-error *ngIf="prescriptionForm.controls.first_name.hasError('required')">
                                    First Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6">

                            <mat-form-field>
                                <mat-label>Second Name</mat-label>
                                <input matInput placeholder="Second Name" required formControlName="last_name">
                                <mat-error *ngIf="prescriptionForm.controls.last_name.hasError('required')">
                                    Second Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>

                    </div>

                    <mat-form-field>
                        <mat-label>Delivery Address</mat-label>
                        <input matInput placeholder="Address" required formControlName="address">
                        <mat-error *ngIf="prescriptionForm.controls.address.hasError('required')">
                            Delivery Address is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>NIC</mat-label>
                        <input matInput placeholder="NIC" required formControlName="nic">
                        <mat-error *ngIf="prescriptionForm.controls.nic.hasError('required')">
                            NIC is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="prescriptionForm.controls.nic.hasError('maxlength')">
                            NIC should not contain more than <strong> 12 characters. </strong>
                        </mat-error>
                        <mat-error *ngIf="prescriptionForm.controls.nic.hasError('minlength')">
                            NIC should not be less than <strong> 12 characters. </strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label> Date Of Birth </mat-label>
                        <input matInput [max]="maxDate" [matDatepicker]="dobDatePicker" required formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dobDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Prefered Email" required formControlName="email">
                        <mat-error *ngIf="prescriptionForm.controls.email.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="prescriptionForm.controls.email.hasError('email')">
                            Enter a <strong>valid email</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Contact</mat-label>
                        <input matInput placeholder="Prefered Contact Number" required formControlName="contact">
                        <mat-error *ngIf="prescriptionForm.controls.contact.hasError('required')">
                            Contact is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="prescriptionForm.controls.contact.hasError('pattern')">
                            Enter a <strong>valid contact</strong>
                        </mat-error>
                        <mat-error *ngIf="prescriptionForm.controls.contact.hasError('minlength')">
                            Contact number should contain <strong>10 digits</strong>
                        </mat-error>
                        <mat-error *ngIf="prescriptionForm.controls.contact.hasError('maxlength')">
                            Contact number should contain <strong>10 digits</strong>
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label> Date </mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="DatePicker" required formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="DatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #DatePicker></mat-datepicker>
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width">
                        <mat-label> Additional Note </mat-label>
                        <textarea matInput placeholder="Any Special Notes" formControlName="note"></textarea>
                    </mat-form-field>

                    <mat-checkbox formControlName="non_pres"> Upload Custom Medicines </mat-checkbox>

                    <div *ngIf="isChecked">

                        <div class="row" *ngFor="let count of [].constructor(medCount); let index=index">

                            <div class="col-md-6">

                                <mat-form-field>
                                    <mat-label> Medicine - {{ index+1 }} </mat-label>
                                    <input matInput placeholder="Medicine" required formControlName="med{{index}}">
                                </mat-form-field>

                            </div>

                            <div class="col-md-3">

                                <button mat-raised-button color="primary" (click)="add()"> <i class="material-icons"> add_circle</i> Add</button>

                            </div>

                            <div class="col-md-3" *ngIf="index === medCount-1 && medCount !== 1">

                                <button mat-raised-button color="warn" (click)="remove(index)"> <i class="material-icons"> highlight_off </i> Remove </button>

                            </div>
                            
                        </div>

                    </div>
    
                    <div class="row">

                        <div class="col-md-12">

                            <input type="file" accept="image/*" formControlName="image" name="prescription_image" (change)="onFileChange($event)">

                        </div>

                    </div>

                    <div class="row" style="padding-top: 10px;">

                        <div class="col-md-8">

                            <img [src]="imageUrl" alt="Item Image" width="220px" height="200px" *ngIf="imageUrl !== null" id="itemImage"/>

                        </div>

                        <div class="col-md-4" style="margin-left: 1px !important;" *ngIf="imageUrl !== null">

                            <button mat-raised-button color="warn" class="col-md-12" (click)="removeFile()" > <i class="material-icons"> highlight_off </i> Remove File </button>

                        </div>

                    </div>

                    <div class="row" style="padding-top: 5px;padding-left: 50px;">

                        <p style="color: red;" *ngIf="isLoadingQuality" class="blink"> <b> Calculating Quality </b></p>
                        <p style="color: red;" *ngIf="!imageQuality && imageUrl !== null && !isLoadingQuality"> <b> Quality is not good enough! Please upload again!</b></p>
                        <p style="color: green;" *ngIf="imageQuality && imageUrl !== null && !isLoadingQuality"> <b> Good Quality!</b></p>

                    </div>
    
                </mat-card-content>

                <mat-card-actions align="center">
                    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!prescriptionForm.valid || (!imageQuality && !isChecked)">Submit</button>
                </mat-card-actions>

            </form>

        </mat-card>

    </div>

</div>