<div class='main-content'>
<div>
    <input type='checkbox' id ="check">
    <label for ="check">
        <i class="fas fa-bars" id='btn'></i>
        <i class ="fas fa-times" id='cancel'></i>
    </label>

        <div class="sidebar">
            <h3>E-Pharma</h3>
            <ul>
                <li><a routerLink='#'><i class="far fa-plus-circle"></i>New Order</a></li>
                <li><a routerLink='history'><i class="far fa-history"></i>Order History</a></li>
                <li><a routerLink='profile'><i class="far fa-user-circle"></i>Profile</a></li>
                <li><a routerLink="family"><i class="fal fa-user-friends"></i>Family</a></li>
                <li><a routerLink='address-book'><i class="fal fa-address-book"></i>Address Book</a></li>
                <li><a routerLink='#'><i class="far fa-shopping-cart"></i>Payments</a></li>
                <li><a routerLink='notification'><i class="fas fa-bell"></i>Notifications</a></li>
                <li><a routerLink='#'><i class="far fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
        <div class="section">
            <router-outlet></router-outlet>
        </div>
</div>
</div>



