<h2 mat-dialog-title align="center" style="color: red"> Notification </h2>
<mat-dialog-content class="mat-typography">
    <mat-list role="list">
        <mat-list-item *ngFor="let medicine of data.medList; let index=index" role="listitem"> {{ medicine.name }}  -  <div style="padding-left: 5px;" id="availability{{index}}"> {{ availability(medicine.is_available, index) }} </div> <div style="padding-left: 5px;"> - RS. {{ medicine.unit_price }} </div> </mat-list-item>
    </mat-list>
    <div class="row">

      <div class="col-md-6">

        <div class="row">

          <div class="col-md-6">

            <p style="padding-left: 16px;padding-top: 10px;"> <b> Total </b>  : </p>

          </div>

          <div class="col-md-6">

            <p style="padding-top: 10px;"> RS. <b style="padding-left: 5px;"> {{ data.price }} </b> </p>

          </div>

        </div>

      </div>

    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="navigateToPayment()" mat-dialog-close="true"> Proceed To Pay </button>
</mat-dialog-actions>