<div class='main-content'>
    <div class='container'>
        <mat-card>
            <h2 class='jumbotron'>Address Book</h2>
        </mat-card>
        <div>
        <mat-card>
            <mat-form-field> 
                <button mat-raised-button color="primary" (click)="addNewAddress()"> ADD</button>
                <input matInput  [(ngModel)]="inputValue">
            </mat-form-field>       
        </mat-card>
            <p> {{newAddress}}</p>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address 01 </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
    </div>
</div>
