<div class="main-content">
    <div class ="container-fluid">
    <div>
       <agm-map [latitude]="lat" [longitude]="lng" [zoom]=14>
        <agm-marker
            [latitude]="lat" 
            [longitude]="lng"
            title="Pharmacy"
            [iconUrl]='pharmacyIcon'
        ></agm-marker>
        <agm-marker 
            [latitude]="deliveryLat" 
            [longitude]="deliveryLng"
            title = "deliveryPerson"
            [iconUrl]='driverIcon'
        ></agm-marker>
    </agm-map>
    </div>
    </div>
    <div class='feedback-btn'>
        <!--button mat-button (click)="openDialog()" color ="primary">Feedback</button-->
        <app-feedback *ngIf="status==='delivered'"></app-feedback>
    </div>

</div>